/****** KIGO STEP2  ******/
SELECT CAT.CATEGORY_NAME, CAT.CATEGORY_ID CAT
FROM CATEGORIES CAT, (SELECT C.CATEGORY_ID, count(I.CATEGORY_ID) AS ITEM
						FROM CATEGORIES C, ITEMS I
						WHERE C.CATEGORY_ID = I.CATEGORY_ID
						group by c.CATEGORY_ID
						HAVING COUNT(I.CATEGORY_ID) < 2) AS TAB1
WHERE CAT.CATEGORY_ID = TAB1.CATEGORY_ID


/****** KIGO STEP1  ******/
SELECT O.CATEGORY_NAME, TAB1.N_ITEMS, TAB1.AVERAGE_PRICE
FROM CATEGORIES O, (SELECT C.CATEGORY_ID, COUNT(I.CATEGORY_ID) AS N_ITEMS , AVG(I.ITEM_PRICE) AS AVERAGE_PRICE 
						FROM CATEGORIES C, ITEMS I
						WHERE C.CATEGORY_ID = I.CATEGORY_ID
						group by (C.CATEGORY_ID)) AS TAB1
WHERE O.CATEGORY_ID = TAB1.CATEGORY_ID
					/*OR */

SELECT C.CATEGORY_NAME, COUNT(I.CATEGORY_ID) AS N_ITEMS , AVG(I.ITEM_PRICE) AS AVERAGE_PRICE 
						FROM CATEGORIES C, ITEMS I
						WHERE C.CATEGORY_ID = I.CATEGORY_ID
						group by (C.CATEGORY_NAME)